__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.idea/
.vscode/
venv/
env/
Qwen/
Qwen3/
output_dialogue/
task/
tasks/
flash_attn-2.7.0.post2+cu124torch2.5.1cxx11abiFALSE-cp312-cp312-win_amd64.whl
Hard_Land_Benedict_Wells.json
一如既往_不變的人性法則與致富心態.json
人生没有后悔药：奇袭人生的5个套路.json
内在动机：自主掌控人生的力量.json
有些事根本不配占有你的情绪.json
被放大的欲望.json
语言表达的艺术：教你简单有效的说话方法.json
